

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" routerLink='/'><h3>Realtime COVID-19 Cases</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">  
        
        
        </ul>
      <ul class="navbar-nav my-2 my-lg-0" >
        <li class="nav-item active" style="margin-right:30px;">
            <a class="nav-link" routerLink='/'><h3>Home </h3><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active" style="margin-right:30px;">
            <a class="nav-link" routerLink='countries'><h3>Countries</h3></a>
          </li>
          <li class="nav-item active" style="margin-right:70px;">
            <a class="nav-link" routerLink='aboutme'><h3>About Me</h3></a>
          </li>

      </ul>
      
    </div>
  </nav>