<div class="container">
<div class="jumbotron bg-info row justify-content-center mt-5">
    <div class="col-md-9 text-center" style="color: white;">

        <h1 class="display-5">COVID-19 STATISTICS</h1>
        <hr>
        <p class="text-justify intro h5">Coronavirus disease (COVID-19) is an infectious disease which was unknown before the outbreak
           began in Wuhan, China, in December 2019. COVID-19 is now a pandemic affecting many countries
            globally. This website is build for study purpose by using open source data maintained by 
           <a target="_blank" class="text-light stretched-link" href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data"> Johns Hopkins University</a>.</p>
    </div>
    
</div>

<app-dashboard-card [totalConfirmed] = 'totalConfirmed' [totalDeaths] = 'totalDeaths' 
[totalRecovered] = 'totalRecovered' ></app-dashboard-card>

<hr>
<div class="stats">
<div class="display-4 text-center">Visual Statistics</div>
<br>
<div class="ui form">
    <div class="inline fields ">
      
      <div class="field col-lg-3">
        <div class="ui buttons button" >
          <input id = "confirmed" #confirmed (click)='updateChart(confirmed)' name="casetype" 
          checked="" value="confirmed" tabindex="0" >
          <label class="btn btn-lg btn-secondary button" for="confirmed"><h3>Confirmed</h3></label>
        </div>
      </div>
      
      <div class="field col-lg-3">
        <div class="ui buttons button">
          <input  id = "deaths" #deaths (click)='updateChart(deaths)' name="casetype" 
          tabindex="0" value="deaths" class="hidden">
          <label class="btn btn-lg btn-secondary button" for="deaths"><h3>Deaths</h3></label>
        </div>
      </div>

      <div class="field col-lg-3">
        <div class="ui buttons button">
          <input  id = "active" #active (click)='updateChart(active)' name="casetype" 
          tabindex="0" value="active" class="hidden">
          <label class="btn btn-lg btn-secondary button" for="active"><h3>Active</h3></label>
        </div>
      </div>

      <div class="field col-lg-3 ">
        <div class="ui buttons button">
          <input  id = "recovered" #recovered (click)='updateChart(recovered)' name="casetype" 
          tabindex="0" value="recovered" class="hidden">
          <label class="btn btn-secondary btn-lg button" for="recovered"><h3>Recovered</h3></label>
        </div>
      </div>  
     
      
    </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <google-chart [type]="chart.PieChart" [data]='dataTable' [height]='chart.height1'
    [options]='chart.options' style="width: 100%;"></google-chart>
  </div>
  <div class="col-lg-6">
    <google-chart [type]="chart.ColumnChart" [data]='dataTable' [height]='chart.height2'
[options]='chart.options' style="width: 100%;"></google-chart>
  </div>
</div>


</div>
</div>