<div class="container-fluid bg-1 text-center margintop">
    <br>
    <h1 class="display-4">ABOUT ME</h1>
    <div class="container justify-content-center mt-5">
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <img src="assets/images/me.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Myself" width="300" height="300">
        </div>
        <div class="col-lg-4 text-justify">
            <h1>Hi! I am <a class="text-light stretched-link" href="http://priyankagohil.pythonanywhere.com/" target="_blank"><u>Priyanka Gohil</u></a>.</h1>
            <h3 class="fancy">I'm a Computer Engineer. I love working with numbers and building awesome projects which
                make life of human beings easier! <br>
                This project : "Realtime COVID-19 Cases" is a part of my 
                study and it is made with the sole purpose to stay updated with corona virus cases throughout the world.
            </h3>
            <p>Email : priyankapgohil@gmail.com</p>
            
         </div>
    </div>
    </div>
    
  </div>
  