<div class="row">
    <div class="card col p-3 m-3 warning">
        <div class="ui statistic">
            <div class="label text-white ">
              <h3>Confirmed</h3>
            </div>
            <div class="value text-white ">
              {{ totalConfirmed }}
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3 danger">
        <div class="ui statistic">
            <div class="label text-white">
                <h3>Deaths</h3>
            </div>
            <div class="value text-white">
              {{ totalDeaths }}
            </div>
          </div>
    </div>
   
    <div class="card col p-3 m-3 success">
        <div class="ui statistic">
            <div class="label text-white">
                <h3>Recovered</h3>
            </div>
            <div class="value text-white">
              {{ totalRecovered }}
            </div>
          </div>
    </div>
</div>
